

body {
  margin: 0;
  font-family: "19279", 'Comic Sans MS', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #B89884;
}




code {
  font-family: "19279",'Comic Sans MS', cursive;
}

@font-face {
  font-family: "19279"; /* Гарнитура шрифта */
  src: url("/components/fonts/19279.ttf"); /* Путь к файлу со шрифтом */
  font-style: normal; 
  font-weight: normal; 
 }
